body{
    
    background-color: #ce85e4;
}
.body-div{
    text-align: center;
    margin: 3px;
}
.body-img{
    
    
    border: #dd1313;

}
.centered{
    text-align: center;
}
footer{
    background: #b0e61c;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
}
h1{
    padding: 1px;
    font-weight: bold;
    font-size: 10px;
    text-align: center; 
    color: rgb(70, 145, 57);
    margin-bottom: 0;
}
h2{
    padding: 1px;
    font-weight: bold;
    font-size: 8px;
    text-align: center;
    color: rgb(138, 218, 123);
    margin: 0, 0, 0;
}
img{
    width: 40%;
    height: 40%;

}





.navbar {
    
    background:#833999;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}