/*
 * your comment header here
 */

footer{
    background: #bdd7ff;
}

/* .nav-section{
    padding-top: 10px;
    height: 60px;
    background: #5681c4;
} */

.body-div{
    text-align: center;
    margin-top: 20px;
}

.centered{
    text-align: center;
}

.navbar {
    background:#6ab446;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
#headerTitle{
    
}
