/* 
Name: Michael Perron
Coding 03
Purpose: This page adjusts the visual layout.
*/

body{
    background-color: #ce85e4;
}
.body-div{
    margin: 3px;
}
.body-img-col-sm-4{
    border: #dd1313;
}
.bg-response{
    text-align: center;
    margin-top: 5%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 20%;
    font-size: 6px;
    color: rgb(255, 238, 0);
    
}
.centered{
    text-align: center;
}
footer{
    background: #8aaf25;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
}
.col-sm-12{
    padding: 10px 15px;
    background: #abb1b8;
    border: 10px solid rgba(159, 10, 245, 0.932)
}
.form {
    position: relative;
    background: (159, 10, 245);
    max-width: 160px;
    font-size: 12px;
    margin: 0 auto 20px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-top: 2%;
    margin-bottom: 20%;
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #e2f5cc;
    width: 100%;
    border: 0;
    margin: 0 0 0 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #8562d6;
    width: 90%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 10px;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
h1{
    padding: 1px;
    font-weight: bold;
    font-size: 14px;
    text-align: center; 
    color: rgb(70, 145, 57);
    margin-bottom: 0;
}
h2{
    padding: 1px;
    font-weight: bold;
    font-size: 6px;
    text-align: center;
    color: rgb(138, 218, 123);
    margin: 0, 0, 0;
}
#history{
    color: rgb(153, 101, 4);
}
hr{
    padding: 0px;
    margin: 2px;
}
img{
    width: 100%;
    height: 100%;
}
.lipsum-text{
    background-color:rgb(214, 194, 194);
    margin: 5px;
    padding: 5px;
    margin-bottom: 75px;
}
#msg{
    color: rgb(110, 2, 2);
    font-size: 7px;
}
.navbar {
    background:#833999;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    margin-left:1%;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
p{
    text-align: left;
    padding: 4px; 
}
#text{
    font-size: 45px;
}

/* Extra Small devices (landscape phones, 150px and up) */
@media (min-width: 150px) {  
    h1 {font-size:.73rem;} /*1rem = 16px*/
    h2 {font-size: 1rem;}
    .form{max-width: 180px; font-size: 11px;}
    
}
    
/* Small devices (landscape phones, 300px and up) */
@media (min-width: 300px) {  
    h1{font-size:1.5rem;} /*1rem = 16px*/
    h2 {font-size: 1rem;}
    .form{max-width: 250px; font-size: 16px;}
    .bg-response{font-size: 12px;}
    .navbar-brand {font-size: 13px;}
    li {font-size: 26px;}
    #msg{font-size: 10px;}
}
    
/* Medium devices (tablets, 600px and up) */
@media (min-width: 600px) {  
    h1 {font-size:2rem;} /*1rem = 16px*/
    h2 {font-size:1.5rem;}
    .form{max-width: 350px; font-size: 18px;}
    .bg-response{font-size: 16px;}
    .navbar-brand {font-size: 16px;}
    #response{font-size: 14px;}
    #msg{font-size: 14px;}
}
    
/* Large devices (desktops, 750px and up) */
@media (min-width: 750px) { 
    h1{font-size:2.5rem;} /*1rem = 16px*/
    h2 {font-size:2rem;}
    .form{max-width: 290px; font-size: 16px; margin-left: 10%; margin-top: 0%; float: left;}
    .bg-response{font-size: 20px;}
    img{width: 40%;height: 40%;float: left;margin-left: 6%;}
    #response{font-size: 18px;}
}

/* Larger devices (large desktops, 900px and up) */
@media (min-width: 900px) {  
    h1{font-size:3rem;} /*1rem = 16px*/ 
    h2 {font-size:2.5rem;}
    .form{max-width: 390px; font-size: 16px;}
    .bg-response{font-size: 26px;}
    #response{font-size: 28px;}
    #msg{font-size: 18px;}
}
    
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    h1{font-size:4rem;} /*1rem = 16px*/ 
    h2 {font-size:3.5rem;}
    .form{max-width: 430px; font-size: 16px;}
    .bg-response{font-size: 30px;}
    #response{font-size: 34px;}
    #msg{font-size: 20px;}  
}
/* Extra Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1500px) {  
    h1{font-size:4rem;} /*1rem = 16px*/ 
    h2 {font-size:3.5rem;}
    .form{max-width: 500px; margin-left: 17%; font-size: 16px;}
    .bg-response{font-size: 34px;}
    #response{font-size: 34px;}  
}