<!--
Name: Michael Perron
Coding 03 & 04 & 05
Purpose: This page is the form template body.
-->

<div class="body-div">
        <h1>Mardi Gras Questionaire Form</h1>
     <hr>
        <h2>Please Answer the Following Questions:</h2>
    <div class="body-img">
        <img src="{{body-img}}">
    </div>
    <div class="form">
        <form action="process.php"    method="post">
            <div class="col-sm-12">Enter your title.
            <input type="text" id="title" placeholder="title" name="title" maxlength="64"><br>
            </div>
            <div class="col-sm-12">Enter your favorite drink.
            <input type="text" id="drink" placeholder="favorite drink" name="drink" maxlength="64"><br>
            </div>
            <div class="col-sm-12">Enter your pet's name.
            <input type="text" id="pet" placeholder="pet name" name="pet" maxlength="64"><br>
            </div>
            <div class="col-sm-12">Enter a fictional place.
            <input type="text" id="ficPlace" placeholder="fictional place" name="ficPlace" maxlength="64"><br>
            </div>
            <div class="col-sm-12">Enter a real place.
            <input type="text" id="rlPlace" placeholder="real place" name="rlPlace" maxlength="64"><br>
            </div>
            <div class="col-sm-12">Enter your email address.
            <input type="text" id="email" placeholder="email" name="email" maxlength="64"><br>
            </div>
            <div class="col-sm-12">Confirm your email address.
            <input type="text" id="remail" placeholder="confirm email" name="remail" maxlength="64"><br>
            </div>
            <div class="input-div">
                <button id="names-send" type="submit" class="">Send</button>
                <button id="names-clear" type="button" class="">Clear</button>
            </div>
        </form>
        <div id="msg">
            <!-- message appears here -->
            <br>
        </div>
   </div>
</div>
<script src=/js/jquery.min.js></script>
<script src=/js/main.js></script>
<script src=/js/title.js></script>