<!--
Name: Michael Perron
Coding 03
Purpose: This page is the template for the header on each page.
-->

<!DOCTYPE html>
<html>
    <head>
        <title>{{pagetitle}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet">
        <link rel="icon" href="favicon.ico" type="image/gif">
    </head>
    <body>
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="index.php">{{logo}}</a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.php">{{home}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="form.php">{{form}}</a>
                    </li>
                </ul>
            </div>
        </nav>


<!--
Name: Michael Perron
Coding 03
Purpose: This page is the template for the header on each page.
-->
<!-- 
<!DOCTYPE html>
<html>
    <head>
        <title>{{pagetitle}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css.map" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet">
        <link rel="icon" href="favicon.ico" type="image/gif">
    </head>
    <body>
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="index.php">{{logo}}</a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.php">{{home}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="form.php">{{form}}</a>
                    </li>
                </ul>
            </div>
        </nav> -->