<!--
your comment header here
-->

<!DOCTYPE html>
<html>
    <head>
        <!-- {{pagetitle}} is a Mustache variable and will be replaced
        with the value from the associative array value from index.php-->
        <title>{{pagetitle}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="main.css" rel="stylesheet">
        <link rel="icon" href="favicon.gif" type="image/gif">
    </head>
    <body>
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="#">{{logo}}</a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{home}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{about}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{contact}}</a>
                    </li>
                </ul>
            </div>
            </nav>